/* Media Query */

/* ipad air */

@media screen and (max-width: 830px) {
    #hero{
        height: 80vh;
    }

    #three-banners .banner-box{
        width: 30%;
    }

    #newsletter{
        flex-direction: column;
        text-align: center;
    }

    #newsletter .form{
        width: 70%;
    }

    #newsletter .newstext{
        padding-bottom: 20px;
    }
    
}

/* Tablets */

@media only screen and (min-width: 768px) and (max-width: 830px){
    #three-banners .banner-box h2{
        font-size: 2.4rem;
    }
    
    #sm-banner .banner-box {
        height: 30vh;
        width: 30%;
    }
}

/* large mobiles */

@media screen and (max-width: 430px) {
    h1{
        font-size: 2.2rem;
    }

    #header{
        padding: 7px 20px;
        text-align: center;
    }

    #hero h1{
        color: #fff;
    }

    #hero{
        align-items: center;
    }

    #features{
        padding: 0px;
        margin: 0 7px;
    }

    .product1 .pro-container{
        justify-content: center;
    }

    #sm-banner .banner-box{
        height: 30vh;

    }

    .banner-box h1{
        font-size: 1.5rem;
    }

    #banner{
        margin-right: 40px;
        margin-left: 40px;
    }

    #three-banners .banner-box{
        display: none;
    }

    #newsletter .newstext h2{
        font-size: 1.7rem;
    }

    #newsletter .form {
        width: 100%;
    }

    footer{
        padding: 40px;
    }

    .col{
        padding-bottom: 20px;
    }

    .copyright{
        text-align: center;
    }

    /* navbar */

    .nav{
        display: none;
        position: fixed;
        background-color: aliceblue;
        z-index: 9;
        top: 0;
        right: 0;
        width: 60%;
        height: 100vh;
    }

    #navbar{
        flex-direction: column;
        padding-top: 100px;

    }
    
    #navbar li{
        padding: 18px 0;
    }

    #mobile{
        display: flex;
    }

    #mobile li{
        list-style: none;
        padding-left: 20px;
    }

    #mobile li a{
        text-decoration: none;
        font-size: 1.25rem;
        font-weight: 600;
    }

    #mobile li i{
        font-size: 1.25rem;
        color: #1a1a1a;
        font-weight: 600;
    }

    #navbar .crossNav{
        position: absolute;
        top: 32px;
        right: 32px;
    }

    /* coming soon page */

    #coming-soon img {
        width: 350px;
        height: 350px;
    }

    /* single product page */

    #prod-details{
        flex-direction: column;
        padding: 20px 40px;
    }

    #prod-details .single-prod-img-details .small-img-group img {
        width: 13vw;
    }

    #prod-details .single-prod-desc h1{
        font-size: 2.1rem;
        line-height: 50px;
    }

    #prod-details .single-prod-desc h3{
        font-size: 1.5rem;
    }

}

@media screen and (min-width: 200px) and (max-width: 399px) {
    .features {
        padding: 5px;
        margin: 0 6px;
    }

}

/* to show mobile sidebar */

@media (min-width: 430px){
    #mobile{
        display: none;
    }
    #navbar .crossNav{
        display: none;
    }
}

@media (min-width: 1350px){
    #prod-details .single-prod-desc {
        min-width: 57%;
    }
}